<%= provide :title, t("session.new_view.login") %>
<div class="parallax-container" id="signup-parallax">
  <div class="parallax">
    <%= image_tag "bg01.png" %>
  </div>
  <div class="row form-box">
    <div class="row center" id="signup-title">
      <h4><%= t "session.new_view.login" %></h4>
    </div>
    <br>
    <div class="container">
      <%= form_for :session, url: login_path do |f| %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.email_field :email, class: "validate" %>
            <%= f.label :email, for: :email %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.password_field :password, class: "validate" %>
            <%= f.label :password, for: :password %>
          </div>
        </div>
        <div class="row">
          <div class="col s5">
            <%= link_to t("session.new_view.forgot_password"),
              new_password_reset_path, id: "forgot-pwd" %>
          </div>
          <div class="col s2">
          </div>
          <div class="col s5">
            <%= f.check_box :remember_me, class: "rm-checkbox",
              id: "check-box-log-in" %>
            <%= f.label :remember_me, t("session.new_view.remember_me"),
              for: "check-box-log-in" %>
          </div>
        </div>
        <div class="row">
          <div class="col l8">
            <%= f.submit t("session.new_view.go"),
            class: "btn btn-large btn-register waves-effect waves-light" %>
          </div>
          <div class="col l4">
            <%= link_to t("session.new_view.google_login"),
              "/auth/google_oauth2" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
