<%= provide :title, t("admin.word.index.title") %>

<div class="container">
  <div class="row center">
    <h4><%= t "admin.word.index.title" %></h4>
  </div>
  <div class="container">
    <%= form_tag admin_words_path, method: :get do %>
      <div class="row">
        <h6 class="search-field-title">
          <%= t "word.index_view.search" %>
        </h6>
        <%= text_field_tag :search, params[:search],
          class: "inline filter-field-tags" %>
      </div>
      <div class="row">
        <h6 class="search-field-title">
          <%= t "word.index_view.filter_category" %>
        </h6>
        <%= select_tag :category,
          options_from_collection_for_select(Category.brief_info, :id, :name),
          prompt: t("word.index_view.category"), class: "filter-field-tags" %>
      </div>
      <div class="row">
        <%= submit_tag t("word.index_view.apply"),
          class: "btn waves-light waves-effect" %>
      </div>
    <% end %>
  </div>
  <table class="striped" id="category-table">
    <div class="row">
      <thead>
        <tr>
          <th data-field="value">
            <%= t "admin.word.index.value" %>
          </th>
          <th data-field="category">
            <%= t "admin.word.index.category" %>
          </th>
          <th data-field="edit"></th>
          <th data-field="new">
            <%= link_to "new", new_admin_word_path,
              class: "btn waves-effect waves-light" %>
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @words %>
      </tbody>
    </div>
  </table>
  <div class="row center">
    <%= paginate @words, theme: "twitter-bootstrap-3" %>
  </div>
</div>
