<div class="container">
  <div class="row">
    <div class="input-field col s12">
      <%= f.email_field :email, class: "validate" %>
      <%= f.label :email, for: :email %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :name, class: "validate" %>
      <%= f.label :name, for: :name %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.password_field :password, class: "validate" %>
      <%= f.label :password, for: :password %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <%= f.password_field :password_confirmation, class: "validate" %>
      <%= f.label t("user.new_view.confirmation"),
        for: :password %>
    </div>
  </div>
  <div class="row">
    <%= f.submit yield(:button_text),
      class: "btn btn-large btn-register waves-effect waves-light" %>
  </div>
</div>
