<%= provide :title, t("user.new_view.signup") %>
<%= provide :button_text, t("user.new_view.create") %>

<div class="parallax-container signup-parallax">
  <div class="parallax">
    <%= image_tag "bg01.png" %>
  </div>
  <div class="row form-box">
    <div class="row center" id="signup-title">
      <h4><%= t "user.new_view.signup" %></h4>
    </div>
    <br>
    <%= form_for @user, url: signup_path, class: "col s12" do |f| %>
      <%= render "form", f: f %>
    <% end %>
  </div>
</div>
<%= render "layouts/footer" %>
