<%= provide :title, t("word.index_view.title") %>

<div class="container index-box">
  <div class="row center">
    <h4><%= t "word.index_view.title" %></h4>
  </div>
  <div class="row index-header">
    <div class="col s2">
      <h6 class="index-header-title">
        <%= t "word.index_view.word" %>
      </h6>
    </div>
    <div class="col s4">
      <h6 class="index-header-title">
        <%= t "word.index_view.category" %>
      </h6>
    </div>
    <div class="col s3">
      <h6 class="index-header-title">
        <%= t "word.index_view.status" %>
      </h6>
    </div>
    <div class="row s3"></div>
  </div>
  <div class="row">
    <ul>
      <%= render @words %>
    </ul>
    <div class="row center">
      <%= paginate @words, theme: "twitter-bootstrap-3" %>
    </div>
  </div>
</div>
