<div class="navbar-fixed">
  <nav class="nav-extended green darken-4">
    <div class="nav-wrapper">
      <%= link_to t("header.app_name"), root_path,
        class: "brand-logo", id: "home-logo" %>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <%= link_to t("header.about"), "#" %>
        </li>
        <li>
          <%= link_to t("header.signup"), signup_path %>
        </li>
        <li>
          <%= link_to t("header.login"), login_path %>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <%= link_to t("header.about"), "#" %>
        </li>
        <li>
          <%= link_to t("header.signup"), signup_path %>
        </li>
        <li>
          <%= link_to t("header.login"), login_path %>
        </li>
      </ul>
    </div>
  </nav>
</div>
