<!DOCTYPE html>
<html>
  <head>
    <title><%= t "title" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application",
      media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <% flash.each do |message_type, message| %>
      <%= javascript_tag "Materialize.toast('#{message}',
        4000, 'flash-#{message_type}')" %>
    <% end %>
  </body>
</html>
